.icon-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1px;
}
.icon button{
    margin-right: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.colorboxSetting {
    background-color: transparent;
    border-radius: 20px;
    margin: auto;
    border: 0.2px solid rgb(150, 140, 140);
    margin: 2px;
}
.bg-color button {
    height: 30px;
    width: 30px;
    display: block;
    border-radius: 100px;
    padding: 10px;
}
.restore{
    display: flex;
    flex-direction: row;
    margin: 1px;
    margin-left: 10px;
}
.restore button{
    margin-right: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.color-options{
    display: flex;
    flex-wrap: wrap;
    max-width: 150px;
   padding: 10px 10px 5px ;
}
