
<div class="icon-container">
    <div class="icon">
        <button mat-icon-button matTooltip="Reminder"> <img src="../../../assets/remind.svg"></button>
    </div>
    <div class="icon">
        <button mat-icon-button matTooltip="Collaborator"> <img src="../../../assets/collaborator.svg"></button>
    </div>
    <div class="icon">
        <button mat-icon-button matTooltip="BackroundColor"> <img src="../../../assets/backColor.svg"></button>
    </div>
    <div class="icon">
        <button mat-icon-button matTooltip="Backroundimage"> <img src="../../../assets/AddImage.svg"></button>
    </div >
    <div class="icon">
        <button mat-icon-button matTooltip="Archive"> <img src="../../../assets/archive.svg"></button>
    </div>
</div>