<div class="forgot-Password-container">
    <div class="forgot-password-head">
        <div class="logo">
            <app-fundoo-logo></app-fundoo-logo>
        </div>
    </div>
    <div class="password-head">
        <h2>Password Reset</h2>
    </div>
    <div class="head-line">
        <h3>Enter your phone number or email</h3>
    </div>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <div class="recovery-field">
        <mat-form-field class="recovery-email-phone-input" appearance="outline">
            <mat-label>Phone number or Email</mat-label>
            <input formControlName="email" matInput placeholder="Enter phone number or email">
        </mat-form-field>
    </div>
    <div class="bottom-options">
        <div class="next">
            <button class="next-button" mat-raised-button>Next</button>
        </div>
    </div>
    </form>
</div>