
<div class="head" cdkDropList [cdkDropListData]="recieveNoteList" (cdkDropListDropped)="drop($event)">
    <div class="notes" *ngFor='let note of recieveNoteList | filter: Search' [style.background]="note.color" cdkDrag [class.gridToList]="gridlist" >
        <div class="title" >
            <p (click)="openDialog(note)">{{note.title | uppercase}}</p>
        </div>
        <div class="descriptiodata">
            <p (click)="openDialog(note)">{{note.description}}</p>
        </div>
        <div>
        <div class="collaborators" >
            <div class="collab-circle" *ngFor="let person of note.collaborators">
                <p class="collab-initial">{{person.firstName[0]}}</p>
            </div>
        </div>
        
        <div class="note-icons">
        <app-icons [noteCard]="note" (IconEvent)="recievedEventFromIcon($event)"></app-icons>
        </div>
    </div>
</div>
<!-- <div class="list-container" *ngIf="!isGridView">
    <div class="notes-list" *ngFor='let note of recieveNoteList | filter: Search' [style.background]="note.color">
        <div class="title" >
            <p (click)="openDialog(note)">{{note.title}}</p>
        </div>
        <div class="descriptiodata">
            <p (click)="openDialog(note)">{{note.description}}</p>
        </div>
        <div class="note-icons">
        <app-icons [noteCard]="note" (IconEvent)="recievedEventFromIcon($event)"></app-icons>
        </div>
    </div>
</div> -->