.form-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 3%;
	margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 0;
    border: 0.5px solid #b8b3b3;
    border-radius: 8px;
    padding: 20px;
}
.container-left {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 2%;
    padding: 5px;
}
.container-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 60px;
}

.form-logo{
    padding-left: 5px;
}
.logo-head{
    font-size: x-large;
}
.form-head {
    margin-bottom: 22px;
    padding-left: 5px;

}
.email-field{
    width: 412px; 
}

.password-check{
    padding-left: 5px;
}
.form-field-password{
    margin-bottom: 20px;
}
.next-button{
    background-color: #1a73e8;
    color: aliceblue;
    border: none;
    border-radius: 3px;
    width: 70px;
    height: 40px;
    font-weight: bold;
    padding: 5px;
}

a{
    color: #1a73e8;
    text-decoration: none;
    font-weight: 500;
    padding-left: 5px;
   margin-right: 243px;
}
mat-checkbox{
    padding-left: 5px;
    color: #1d1a1a;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 20px;
}
h2{
    font-weight: 400;
    font-size: 24px;
    font-family: "Google Sans","Noto Sans Myanmar UI",arial,sans-serif;
}
h4{
    padding-left: 5px;
    color: #0306c3;
   
}
img {
    height: 280px;
    width: auto;
}
mat-form-field{
    padding-right: 10px;
}
p{
    text-align: center;
    color: #a39999;
    
}
@media screen and (max-width:1300px) {
    .form-container{
        display: flex;
        flex-wrap: wrap;
        border: .5px solid rgb(184, 183, 185);
        margin: 2px;
    }
    .container-right{
        display: none;
    }
    .email-field{
        width: auto;
    
    }
}


@media only screen
and (min-device-width : 360px)
and (max-device-width : 480px) {
    .form-container {
        border: none;
    }
    h4{
        font-size: 10px;
        margin-top: 3px;
    }
    mat-form-field{
        width: 300px;
    }
/* Styles */
}


// @media only screen and (min-width : 321px) {
//     mat-form-field {
//         width: 300px;
//         padding-bottom: 5px;
//         margin-bottom: 5px;
//     }

//     .main-signIn-container {
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         border: none;
//         align-content: center;
//     }

//     h2 {
//         font-weight: 400;
//         font-size: 18px;
//         font-family: "Google Sans", "Noto Sans Myanmar UI", arial, sans-serif;
//     }

//     h3 {
//         font-size: 9px;
//         font-family: "Google Sans", "Noto Sans Myanmar UI", arial, sans-serif;
//     }

//     .create-account-link {
//         margin-right: 125px;
//         align-content: center;
//         padding-top: 10px;
//         font-weight: medium;
//     }

// }

// /* Smartphones (portrait) ----------- */
// @media only screen and (max-width : 320px) {
//     /* Styles */
// }

// /* iPads */
// @media only screen and (min-device-width : 768px) and (max-device-width : 900px) {
//     mat-form-field {
//         width: 450px;
//         padding-bottom: 5px;
//         margin-bottom: 5px;
//     }

//     .main-signIn-container {
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         // border: 0.5px solid #b8b3b3;
//         //border-radius: 5px;
//         border: none;
//         align-content: center;

//         margin-left: 29%;
//     }

//     h2 {
//         font-weight: 400;
//         font-size: 25px;
//         font-family: "Google Sans", "Noto Sans Myanmar UI", arial, sans-serif;
//     }

//     h3 {
//         font-size: 18px;
//         font-family: "Google Sans", "Noto Sans Myanmar UI", arial, sans-serif;
//     }

//     .create-account-link {
//         margin-right: 300px;
//         align-content: center;
//         padding-top: 10px;
//         font-weight: medium;
//     }
// }

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* Styles */
}

/* iPhone  ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}
