<div class="form-container">
  <div class="container-left">
    <div class="form-logo">
      <app-fundoo-logo></app-fundoo-logo>
    </div>
    <div class="form-head">
      <h2>Create Your Fundoo Account</h2>
    </div>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-field-name">
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input formControlName="firstName" matInput placeholder="Enter first name">
          <mat-error>First Name is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input formControlName="lastName" matInput placeholder="Enter last name">
        </mat-form-field>
      </div>
      <div class="form-field-email">
        <mat-form-field class="email-field" appearance="outline">
          <mat-label>Email</mat-label>
          <input formControlName="email" matInput placeholder="Enter email address">
          <mat-hint>You can use letters, Number & Periods</mat-hint>
        </mat-form-field>
      </div>
      <h4>Use my current email address instead</h4>
      <div class="form-field-password">
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input type="password" formControlName="password"  matInput placeholder="Enter Password" >
          <mat-hint>Use 8 or more characters with a mix of letters, numbers & symbols</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Confirm</mat-label>
          <input type="password" formControlName="confirmPassword" matInput placeholder="Re-enter Password">
        </mat-form-field>
      </div>
      <div>
        <mat-checkbox>Show Password</mat-checkbox>
      </div>
      <div class="bottom-options">
  
          <a [routerLink]="['/sign-in']">Sign in Instead</a>
          <button class="next-button" mat-raised-button (click)="onSubmit()">Next</button>
      </div>
    </form>
  </div>
  <div class="container-right">
    <div class="registration-logo">
      <img src="https://ssl.gstatic.com/accounts/signup/glif/account.svg" alt="">
      <p>Taking Notes made easy</p>
    </div>
  </div>
</div>