<div class="password-reset-container">
    <div class="password-reset-head">
        <div class="logo">
            <app-fundoo-logo></app-fundoo-logo>
        </div>
    </div>
    <div class="reset-head">
        <h2>Password Reset</h2>
    </div>
    <div class="head-line">
        <h3>Enter New Password</h3>
    </div>
    <div class="new-passowrd-field">
        <mat-form-field class="new-password-input" appearance="outline">
            <mat-label>Enter New password</mat-label>
            <input matInput placeholder="New Password">
        </mat-form-field>
    </div>
    <div class="confirm-passowrd-field">
        <mat-form-field class="new-password-input" appearance="outline">
            <mat-label>Confirm New password</mat-label>
            <input matInput placeholder="Confirm Password">
        </mat-form-field>
    </div>
    <div class="bottom-options">
        <div class="next">
            <button class="next-button" mat-raised-button>Next</button>
        </div>
    </div>
</div>