
.Update-container{
    max-width: 750px;
    min-width: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: transparent;
    
}
.take-note{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    padding: 20px;
}
.title {
    min-height: 10px;
    font-size: large;
    width: inherit;
    border: none;
    outline: none;
    font: normal 18px Google Sans,Roboto,Helvetica,Arial,sans-serif;
    margin: none;
    word-wrap: break-word;
    background-color: transparent;
}


.note-field{
    min-height: 27px;
    height: inherit;
    width: inherit;
    border: none;
    outline: none;
    background-color: transparent;
    font: normal 16px Google Sans,Roboto,Helvetica,Arial,sans-serif;
  }
.close{
    display: flex;
    font-size: large;
    margin-right: 40px;
    padding-top:15px;
    justify-content: space-between;
    background-color: transparent;
    padding: 10px;
}

.closeButton{
    background-color: transparent;
    border: none;
}


@media only screen
and (min-device-width : 320px)
and (max-device-width : 360px){
    .Update-container{
        max-width: 300px;
        min-width: 299px;
        display: flex;
        
        flex-direction: column;
        flex-wrap: wrap;
        background-color: transparent;
        
    }
}