
<div class="Update-container" [style.background]="data.color">
<div class="take-note" >  
        <input class="title" placeholder="Title" [(ngModel)]="title" >
        <input class="note-field" type="text" placeholder="Take a note..." [(ngModel)]="description">
</div>
<div class="close">
    <div>
        <app-icons [noteCard]="data" (IconEvent)="recievedEventFromIcon($event)"></app-icons>
    </div>
    <button class="closeButton" (click)="closeDialog()"  mat-raised-button>Close</button>
</div>
</div>
