// .head {
//     display: flex;
//     flex-wrap: wrap;
// }

// .notes {
//     display: flex;
//     flex-direction: column;
//     background-color: white;
//     margin: 6px auto;
//     margin-bottom: 30px;
//     margin-left: 4px;
//     margin-right: 30px;
// }

// .title {
//     margin-left: 18px;
//     margin-top: 10px;
//     font-size: medium;
//     font-weight: 400;
// }

// .description {
//     margin-left: 18px;
//     font-size: medium;
// }

// .icons {
//     display: block;
//     margin-right: 143px;
// }


// .select{
//     background-position: center;
//     background-repeat: no-repeat;
//     display: none;
// }
.title {
    min-height: 10px;
    padding: 10px 15px;
    padding-top: 0px;
    padding-right: 289px;
    padding-bottom: 10px;
    padding-left: 15px;
    font-size: large;
    width: 420px;
    border: none;
    outline: none;
    font: normal 18px Google Sans,Roboto,Helvetica,Arial,sans-serif;
}
.take-note{
    display: flex;
    flex-direction: column;

}

.note-field{
    min-height: 27px;
    padding: 10px 15px;
    padding-top: 0px;
    padding-right: 300px;
    padding-bottom: 0px;
    padding-left: 15px;
    height: inherit;
    width: 420px;
    border: none;
    outline: none;
    font: normal 16px Google Sans,Roboto,Helvetica,Arial,sans-serif;
  }
.close{
    display: flex;
    font-size: large;
    background-color: white;
    border:0px white;
    margin-right: 40px;
    padding-top:15px;
    justify-content: space-between;
}

.closeButton{
    background-color: transparent;
    border: none;
}